/*@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: 'Titillium Web', sans-serif;*/
/*}*/
.p{
    margin: 0;
    padding: 0;
}
.text-page-header{
    font-size: 32px;
}
.text-lg{
    font-size: 21px;
}
.text-md{
    font-size: 16px;
}
.text-sm{
    font-size: 10px;
}

@media (max-width: 599px) {
    .container{
        padding: 8px;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media (max-width:1439px) {
    .container {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (max-width: 1919px) {
    .container {
        max-width: 1250px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media print {
    .container{
        position: absolute;
        top: 12px;
        width: 100%;
    }
}
