@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.p {
    margin: 0;
    padding: 0;
}

.text-page-header {
    font-size: 32px;
}

.text-xl {
    font-size: 28px;
}

.text-lg {
    font-size: 21px;
}

.text-md {
    font-size: 16px;
}

.text-sm {
    font-size: 10px;
}

.hero-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
}


/* CSS */
.hero-btn {
    background-color: #ff4342;
    border-radius: 100px;
    box-shadow: rgb(150, 38, 47) 0 -25px 18px -14px inset, rgb(152, 9, 21) 0 1px 2px, rgb(169, 67, 76) 0 2px 4px, rgb(229, 131, 135) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.hero-btn:hover {
    box-shadow: rgb(114, 21, 42) 0 -25px 18px -14px inset, rgb(124, 10, 55) 0 1px 2px, rgb(181, 65, 69) 0 2px 4px, rgb(214, 95, 137) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.rounded {
    border-radius: 12px;
}

@media (max-width: 599px) {
    .container {
        padding: 8px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (max-width: 1439px) {
    .container {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (max-width: 1919px) {
    .container {
        max-width: 1250px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media print {
    .container {
        position: absolute;
        top: 12px;
        width: 100%;
    }
}

.sized-btn {
    min-width: 120px;
}
.q-breadcrumbs{
    color: #6b6969 !important;
    font-weight: 600;
}
.q-item__section--avatar{
    min-width: 23px !important;
}
.card-plan{
    background: white;
    padding: 23px;
    text-align: center;
    font-weight: bolder;

    border-radius: 6px 26px 26px 6px;

    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
}
.green-plan{
    padding: 16px;
    color: white;
    border-radius: 21px;
    margin-left: -42px;
    background: #3ad53a;
    background: linear-gradient(180deg,#3ad53a 0%, #00a458 80%);
    background: -webkit-linear-gradient(180deg,#3ad53a 0%, #00a458 80%);
    background: -moz-linear-gradient(180deg,#3ad53a 0%, #00a458 80%);

    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
}
.purple-plan{
    padding: 16px;
    color: white;
    border-radius: 21px;
    margin-left: -42px;
    background: #8a2a8a;
    background: linear-gradient(180deg,#8a2a8a 0%, #3d348b 80%);
    background: -webkit-linear-gradient(180deg,#8a2a8a 0%, #3d348b 80%);
    background: -moz-linear-gradient(180deg,#8a2a8a 0%, #3d348b 80%);

    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
}
.red-plan{
    padding: 16px;
    color: white;
    border-radius: 21px;
    margin-left: -42px;
    background: #e11e87;
    background: linear-gradient(180deg,#e11e87 0%, #9e2788 80%);
    background: -webkit-linear-gradient(180deg,#e11e87 0%, #9e2788 80%);
    background: -moz-linear-gradient(180deg,#e11e87 0%, #9e2788 80%);

    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
}
.yellow-plan{
    padding: 16px;
    color: white;
    border-radius: 21px;
    margin-left: -42px;
    background: #ffe048;
    background: linear-gradient(180deg,#ffe048 0%, #fc953f 80%);
    background: -webkit-linear-gradient(180deg,#ffe048 0%, #fc953f 80%);
    background: -moz-linear-gradient(180deg,#ffe048 0%, #fc953f 80%);

    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
}
.blue-plan{
    padding: 16px;
    color: white;
    border-radius: 21px;
    margin-left: -42px;

    background: #00bcf6;
    background: linear-gradient(180deg,#00bcf6 0%, #0081d3 80%);
    background: -webkit-linear-gradient(180deg,#00bcf6 0%, #0081d3 80%);
    background: -moz-linear-gradient(180deg,#00bcf6 0%, #0081d3 80%);

    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.15);
}
